.action-wrapper {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;

    width: 40px;
    height:auto;
    z-index: 100;
}

.logo-container {
    transform: scale(1);
	animation: pulse 2s infinite;
}

.info-container{
    position: relative;
}

.span {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 3px;
    white-space: nowrap;
    color: white;
    top: 12px;
    right: 56px;

    animation: slide 3.5s infinite cubic-bezier(0.075, 0.135, 0.15, 0.86);
    animation-direction: alternate;
}

@keyframes pulse {
	0% {
		transform: scale(0.85);
	}

	70% {
		transform: scale(1);
	}

	100% {
		transform: scale(0.85);
	}
}

@keyframes slide {
	0% {
		opacity: 0;
        transform: translateX(20%);
        transition-timing-function: scale(1);
	}

	50% {
        opacity: 0;
        transform: translateX(20%);
        transition-timing-function: cubic-bezier(0.075, 0.135, 0.15, 0.86);

	}

	100% {
		opacity: 1;
        transform: translateX(0%);
        transition-timing-function: cubic-bezier(0.075, 0.135, 0.15, 0.86);
	}
}