.gradient-container {
  position: relative;
  background: 35% url("../../public/assets/imgs/starry_sky.png"),
  radial-gradient(circle, rgba(4,18,57,1) 40%, rgba(7,7,28,1) 100%);
  background-repeat: round;
}


.gradient-container::after {
  content: '';
  display: block;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 100px;
  background: center/85% url("../../public/assets/imgs/starry_sky.png");
  background-repeat: no-repeat;
}